@model Project_63132986.Models.Position

@{
    ViewBag.Title = "Positions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Positions</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Forms</a></div>
                <div class="breadcrumb-item">Positions</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Add Position</h2>
            <p class="section-lead">We provide advanced input fields, such as date picker, color picker, and so on.</p>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Input Text</h4>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="card-body">
                                @*Name*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PositionName)
                                    @Html.EditorFor(model => model.PositionName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PositionName, "", new { @class = "text-danger" })
                                </div>
                                @**Salary*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Salary)
                                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                                </div>

                                <div>
                                    <button class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        }

                    </div>

                </div>

            </div>
        </div>
    </section>
</div>
