@model Project_63132986.Models.Room

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Rooms</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-itemactive"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Forms</a></div>
                <div class="breadcrumb-item">Rooms</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Edit Room</h2>
            <p class="section-lead">We provideadvanced input fields, suchas date picker, color picker,and so on.</p>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Input Text</h4>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                @*Room Name*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoomName)
                                    @Html.EditorFor(model => model.RoomName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomName, "", new { @class = "text-danger" })
                                </div>
                                @*Room Features*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoomFeature)
                                    <textarea name="RoomFeature" id="feature" class="form-control">
                                       @Model.RoomFeature
                                    </textarea>
                                    @Html.ValidationMessageFor(model => model.RoomFeature, "", new { @class = "text-danger" })
                                </div>
                                @*Room Description*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoomDescription)
                                    <textarea name="RoomDescription" id="description" class="form-control">
                                       @Model.RoomDescription
                                    </textarea>
                                    @Html.ValidationMessageFor(model => model.RoomDescription, "", new { @class = "text-danger" })
                                </div>
                                @*Room Status*@
                                <div class="form-group">
                                    <label>Room Status</label>
                                    <select name="RoomStatus" class="form-control">
                                        @{
                                            if (Model.RoomStatus == true)
                                            {
                                                <option value="true" selected>Available</option>
                                                <option value="false">Inavailable</option>
                                            }
                                            else
                                            {
                                                <option value="true">Available</option>
                                                <option value="false" selected>Inavailable</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.RoomStatus, "", new { @class = "text-danger" })
                                </div>
                                @*Room Type*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoomTypeID, "RoomTypeID", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("RoomTypeID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RoomTypeID, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    <a href="/Rooms_63132986/Index" style="width:70px" class="text-white btn btn-danger"><i class="bi bi-escape"></i></a>
                                    &emsp;<button class="btn btn-primary" style="width:70px"><i class="bi bi-check2-circle"></i></button>
                                </div>
                            }

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>
