@model Project_63132986.Models.SliderBannerImage

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Slider Banner Images</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Forms</a></div>
                <div class="breadcrumb-item">Slider Banner Images</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Add Image Into Slider</h2>
            <p class="section-lead">We provide advanced input fields, such as date picker, color picker, and so on.</p>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Input Text</h4>
                        </div>
                        @using (Html.BeginForm("Create", "SliderBannerImages_63132986", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card-body">
                                @*Image*@
                                <div class="form-group">
                                    <label>Banner Image</label>
                                    <input name="Image" type="file" class="form-control">
                                </div>
                                @*Title*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title)
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                                @*Content*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Content)
                                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                </div>
                                @*Link*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Link)
                                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    <a href="/SliderBannerImages_63132986/Index/@ViewBag.ServiceID" style="width:70px" class="text-white btn btn-danger"><i class="bi bi-escape"></i></a>
                                    &emsp;<button class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        }
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>