@{ 
    if(Session["userID"] != null)
    {
        if (Session["role"].ToString() != "Admin")
        {
            Html.RenderAction("NotFound", "Frontend_63132986");
        }
    }
    else
    {
        Html.RenderAction("NotFound", "Frontend_63132986");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/modules/fontawesome/css/all.min.css">

    <!--Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/assets/modules/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/assets/modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="~/assets/modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/assets/modules/jquery-selectric/selectric.css">
    <link rel="stylesheet" href="~/assets/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="~/assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="assets/modules/bootstrap-social/bootstrap-social.css">

    <!--Datatable css-->
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!--CkEditor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
    <!--Icon Picker -->
    <link href="~/assets/css/bootstrap-iconpicker.min.css" rel="stylesheet" />

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
                <div class="navbar-bg"></div>
                <nav class="navbar navbar-expand-lg main-navbar">
                    <form class="form-inline mr-auto">
                        <ul class="navbar-nav mr-3">
                        </ul>

                    </form>
                    <ul class="navbar-nav navbar-right">
                        <li class="dropdown dropdown-list-toggle">
                            <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="far fa-envelope"></i></a>
                            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                                <div class="dropdown-header">
                                    Messages
                                    <div class="float-right">
                                        <a href="#">Mark All As Read</a>
                                    </div>
                                </div>
                                <div class="dropdown-list-content dropdown-list-message">
                                    <a href="#" class="dropdown-item dropdown-item-unread">
                                        <div class="dropdown-item-avatar">
                                            <img alt="image" src="assets/img/avatar/avatar-1.png" class="rounded-circle">
                                            <div class="is-online"></div>
                                        </div>
                                        <div class="dropdown-item-desc">
                                            <b>Kusnaedi</b>
                                            <p>Hello, Bro!</p>
                                            <div class="time">10 Hours Ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item dropdown-item-unread">
                                        <div class="dropdown-item-avatar">
                                            <img alt="image" src="assets/img/avatar/avatar-2.png" class="rounded-circle">
                                        </div>
                                        <div class="dropdown-item-desc">
                                            <b>Dedik Sugiharto</b>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                            <div class="time">12 Hours Ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item dropdown-item-unread">
                                        <div class="dropdown-item-avatar">
                                           <img src="assets/img/avatar/avatar-3.png" class="rounded-circle">
                                            <div class="is-online"></div>
                                        </div>
                                        <div class="dropdown-item-desc">
                                            <b>Agung Ardiansyah</b>
                                            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <div class="time">12 Hours Ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <div class="dropdown-item-avatar">
                                            <img alt="image" src="assets/img/avatar/avatar-4.png" class="rounded-circle">
                                        </div>
                                        <div class="dropdown-item-desc">
                                            <b>Ardian Rahardiansyah</b>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                            <div class="time">16 Hours Ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <div class="dropdown-item-avatar">
                                            <img alt="image" src="assets/img/avatar/avatar-5.png" class="rounded-circle">
                                        </div>
                                        <div class="dropdown-item-desc">
                                            <b>Alfa Zulkarnain</b>
                                            <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                            <div class="time">Yesterday</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-footer text-center">
                                    <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-list-toggle">
                            <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                                <div class="dropdown-header">
                                    Notifications
                                    <div class="float-right">
                                        <a href="#">Mark All As Read</a>
                                    </div>
                                </div>
                                <div class="dropdown-list-content dropdown-list-icons">
                                    <a href="#" class="dropdown-item dropdown-item-unread">
                                        <div class="dropdown-item-icon bg-primary text-white">
                                            <i class="fas fa-code"></i>
                                        </div>
                                        <div class="dropdown-item-desc">
                                            Template update is available now!
                                            <div class="time text-primary">2 Min Ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <div class="dropdown-item-icon bg-info text-white">
                                            <i class="far fa-user"></i>
                                        </div>
                                        <div class="dropdown-item-desc">
                                            <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                                            <div class="time">10 Hours Ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <div class="dropdown-item-icon bg-success text-white">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="dropdown-item-desc">
                                            <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                                            <div class="time">12 Hours Ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <div class="dropdown-item-icon bg-danger text-white">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </div>
                                        <div class="dropdown-item-desc">
                                            Low disk space. Let's clean it!
                                            <div class="time">17 Hours Ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <div class="dropdown-item-icon bg-info text-white">
                                            <i class="fas fa-bell"></i>
                                        </div>
                                        <div class="dropdown-item-desc">
                                            Welcome to Stisla template!
                                            <div class="time">Yesterday</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-footer text-center">
                                    <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                @*<img alt="image" src="assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">*@
                                <div class="d-sm-none d-lg-inline-block">Hi, @Session["username"]</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-title">Logged in 5 min ago</div>
                                <a href="features-profile.html" class="dropdown-item has-icon">
                                    <i class="far fa-user"></i> Profile
                                </a>

                                <div class="dropdown-divider"></div>
                                <a href="/Login_63132986/Logout" class="dropdown-item has-icon text-danger">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="main-sidebar sidebar-style-2">
                    <aside id="sidebar-wrapper">
                        <div class="sidebar-brand logo">
                            <a href="index.html">
                                <img src="~/assets/images/LogoHotel.png" />
                            </a>
                        </div>
                        <div class="sidebar-brand sidebar-brand-sm">
                            <a href="index.html">
                                <img width="70" src="~/assets/images/LogoHotel.png" />
                            </a>
                        </div>
                        <ul class="sidebar-menu">
                            @*Dashboard*@
                            <li class="dropdown @(ViewBag.Title == "Dashboard" ? "active" : " " )">
                                <a href="~/Dashboard_63132986/Index" class="nav-link"><i class="fa-solid fa-gauge-high"></i><span>Dashboard</span></a>
                            </li>
                            @*Booked Room*@
                            <li class="dropdown @(ViewBag.Title == "BookedRooms" ? "active" : " " )">
                                <a href="~/BookedRooms_63132986/Index" class="nav-link"><i class="fa-solid fa-fax"></i><span>Booked Room</span></a>
                            </li>
                            @*Users*@
                            <li class="dropdown @(ViewBag.Title == "Users" ? "active" : " " )">
                                <a href="~/Users_63132986/Index" class="nav-link"><i class="fa-solid fa-users-line"></i><span>Users</span></a>
                            </li>
                            @*Customers*@
                            <li class="dropdown @(ViewBag.Title == "Customers" ? "active" : " " )">
                                <a href="~/Customers_63132986/Index" class="nav-link"><i class="fa-solid fa-users"></i><span>Customers</span></a>
                            </li>
                            @*Rooms*@
                            <li class="dropdown @(ViewBag.Title == "Rooms" ? "active" : " " )">
                                <a href="~/Rooms_63132986/Index" class="nav-link"><i class="fa-solid fa-door-open"></i><span>Rooms</span></a>
                            </li>
                            @*Room Types*@
                            <li class="dropdown @(ViewBag.Title == "RoomTypes" ? "active" : " " )">
                                <a href="~/RoomTypes_63132986/Index" class="nav-link"><i class="fa-solid fa-fax"></i><span>Room Types</span></a>
                            </li>
                            @*Services*@
                            <li class="dropdown @(ViewBag.Title == "Services" ? "active" : " " )">
                                <a href="~/HotelServices_63132986/Index" class="nav-link"><i class="fa-solid fa-fax"></i><span>Services</span></a>
                            </li>

                            @*Employees*@
                            <li class="dropdown @(ViewBag.Title == "Employees" ? "active" : " " )">
                                <a href="~/Employees_63132986/Index" class="nav-link"><i class="fa-solid fa-fax"></i><span>Employees</span></a>
                            </li>
                            @*Positions*@
                            <li class="dropdown @(ViewBag.Title == "Positions" ? "active" : " " )">
                                <a href="~/Positions_63132986/Index" class="nav-link"><i class="fa-solid fa-fax"></i><span>Positions</span></a>
                            </li>
                            
                            @*Slider*@
                            <li class="dropdown @(ViewBag.Title == "SliderBanners" ? "active" : " " )">
                                <a href="~/SliderBannerImages_63132986/Index" class="nav-link"><i class="fa-solid fa-fax"></i><span>Slider Banner</span></a>
                            </li>

                            @*To Frontend Page*@
                            <li class="dropdown @(ViewBag.Title == "Frontend" ? "active" : " " )">
                                <a href="~/Frontend_63132986/Index" class="nav-link"><i class="fa-solid fa-right-to-bracket fa-rotate-180"></i><span>Client Page</span></a>
                        </ul>
                    </aside>
                </div>
                @RenderBody()
            </div>
        </div>
        <footer class="main-footer">
            <div class="footer-left">
                RunchTy Hotel
            </div>
            <div class="footer-right">

            </div>
        </footer>
    </div>
    <!-- General JS Scripts -->
    <script src="~/assets/modules/jquery.min.js"></script>
    <script src="~/assets/modules/popper.js"></script>
    <script src="~/assets/modules/tooltip.js"></script>
    <script src="~/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/assets/modules/moment.min.js"></script>
    <script src="~/assets/js/stisla.js"></script>
    <script src="~/assets/js/notify.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/assets/modules/cleave-js/dist/cleave.min.js"></script>
    <script src="~/assets/modules/cleave-js/dist/addons/cleave-phone.us.js"></script>
    <script src="~/assets/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/assets/modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/modules/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/modules/jquery-selectric/jquery.selectric.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/forms-advanced-forms.js"></script>

    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <!-- Jquery Datatable-->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <!--Sweat Alert-->
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js "></script>


    <!--CkEditor-->
    <script>
        ClassicEditor.create(document.querySelector('#feature'))
        ClassicEditor.create(document.querySelector('#description'))
        ClassicEditor.create(document.querySelector('#service'))

    </script>

    <!--Icon Picker -->
    <script src="~/assets/js/bootstrap-iconpicker.bundle.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
